* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Miriam Libre', sans-serif;
}

body {
  background-image: url('../img/fundo.jpg');
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: teal;
  display: block;
  padding: 10px;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
}

.menu a:hover
{
  text-decoration: underline;
}

@media (min-width: 400px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 22px;
  }
}

.site-title {
  color: darkblue;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
}

.site-subtitle {
  line-height: 1.8em;
  color: white;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 2em;
  font-family: 'Poiret One', cursive;
}

.Portifólio{
  background-image: url(../img/fundo2.jpg);
  padding: 1.3cm;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
}

.Portifólio h2{
  font-family: 'PT Mono', monospace;
  margin-bottom: 0.8em;
  font-size: 1.5em;

}

.Portifólio .grid{
  display: grid;
  gap: 2em;
  text-align: center;
}

@media (min-width: 560px){
  .Portifólio .grid{
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px){
  .Portifólio .grid{
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
  }
}


.Portifólio figure{
  text-align: center;
}

.img-portfolio {
  object-fit: cover;
  object-position: left;
  height: 180px;
  width: 240px;
  border-radius: 10%;
}
.img-portfolio2 {
  height: 180px;
  width: 240px;
  border-radius: 10%;
}

